<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
        .users, .users td {
            border: 1px solid lightgray;
        }
    </style>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/scripts/app.js"></script>
</head>
<body onload="connect()">
    <p th:text="'Hello, ' + ${session.name} + '!'">Hello</p>
    <br>
    <a id="logout" th:href="@{/auth/logout}">logout</a>
    <br>
    <a th:href="@{/registration}">Register new user</a>
    <br>
    <p id="resultMessage"></p>
    <table class="users-cls">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="alexander.ivanov.fe.model.Users"*/-->
        <tr th:each="user : ${users.users}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.name}">name</td>
            <td th:text="${user.password}">password</td>
        </tr>
        </tbody>
    </table>
</body>
</html>