<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h3>Login</h3>
    <form method="post" action="/registration">
        <table>
            <tr>
                <th align="left">User Name</th>
                <td>
                    <input type="text" id="name", name="userName">
                </td>
            </tr>
            <tr>
                <th align="left">User Password</th>
                <td>
                    <input type="password" id="password", name="userPassword">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" id="register", name="Register" value="Register">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>